<div class="content-container">
    <form class="custom-form" [formGroup]="signupForm">
      <mat-form-field>
        <input matInput placeholder="Create Login" formControlName="login">
        <mat-error *ngIf="signupForm.controls['login'].hasError('required')">
          Login is <strong>required</strong>
        </mat-error>
      </mat-form-field>
  
      <mat-form-field>
        <input matInput placeholder="Create Password" [type]="hide ? 'password' : 'text'" formControlName="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="signupForm.controls['password'].hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
  
      <button mat-raised-button color="primary" (click)="createUser()">Sign Up</button>
      <a mat-button color="primary" routerLink="/login">Login</a>
    </form>
  </div>